<launch>
    
    <!-- Argumentos a variar en las distintas simulaciones, por defecto mapa de alpha_bot original-->
    <arg name="map_file" default="$(find alpha_bot_simulation)/maps/db_world.yaml"/>
    <arg name="world_name" default="$(find alpha_bot_simulation)/worlds/db_world.world"/>

    <!-- Llamamos a otros lanzadores para cargar modelo de robot en gazebo, para su control teleoperado
    de movimiento con la GUI del plugin rqt/robot_steering y visualizar en rviz los datos-->
    <include file="$(find alpha_bot_simulation)/launch/alpha_bot_view.launch">
        <arg name="world_name" value="$(arg world_name)"/>
    </include>

    <include file="$(find alpha_bot_control)/launch/alpha_bot_control.launch">
    </include>

    <!-- Llamar a Localización -->
    <include file="$(find alpha_bot_localization)/launch/KF_alpha_bot.launch"/>

</launch>
